<div>
  {{#view InstantChat.MessagesView viewName="messages"}}
    <div class="messages">
      <dl class="dl-horizontal">
        {{#each model}}
          <dt>{{#view InstantChat.MessageSender class="text-primary" dataBinding="this"}}{{sender}}{{/view}}</dt>
          <dd>
            {{messageHelper message}}
            {{#view InstantChat.MessageDate dataBinding="this"}}{{formatDate created 'hh:mm A'}}{{/view}}
          </dd>
        {{/each}}
      </dl>
    </div>
  {{/view}}
  
  <br/>
  
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="sender" class="col-sm-2 control-label">Your name</label>
      <div class="col-sm-10">
        {{view InstantChat.SenderTextField class="form-control" value=sender}}
      </div>
    </div>
    <div class="form-group">
      <label for="message" class="col-sm-2 control-label">Your message</label>
      <div class="col-sm-10">
        {{view InstantChat.MessageTextArea class="form-control form-control-editable" contenteditable=""}}
        <em class="help-block">
          <small>
            Hint: 
            <br/>- Press Enter to send your message.
            <br/>- Ctrl-V to paste text and image from clipboard.
            <br/>- Firefox user: Right click &rarr; View Image <b>with</b> Ctrl key pressed to view full image.
          </small>
        </em>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="row">
          <div class="col-sm-12 text-right">
            <!--
              <button {{action 'skypeEmo'}} class="btn btn-info">Skype</button>
              <button {{action 'yahooEmo'}} class="btn btn-info">Yahoo</button>
            -->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>